@import url('https://fonts.googleapis.com/css?family=Bangers');

body {
  background: rgba(19, 126, 15, 0.452);
  height: 100vh;
  padding: 2rem 0;
  margin: 0;
  width: 100%;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 6rem;
}

.App {
  text-align: center;
  padding-top: 2rem;
}

.btn {
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
}

.buttonKey {
  border-bottom: 1px solid black;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionButton {
  width: 10rem;
  margin-top: 2rem;
}

.form-control {
  width: 50%;
  margin: auto;
}

.form-row {
  margin: 0;
}

.row {
  padding: 0;
  margin: 0;
}

.col-3 {
  padding: 0;
}

.w-20 {
  -webkit-box-flex: 0;
  flex: 0 0 20%;
  max-width: 20%; 
  padding: 0;
}