@import url('https://fonts.googleapis.com/css?family=Bangers');

h1 {
  font-family: 'Bangers', cursive;
  font-size: 6rem;
}

.App {
  text-align: center;
  margin-top: 2rem;
}

.btn {
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
}

.buttonKey {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.questionButton {
  width: 10rem;
  margin-top: 2rem;
}

.form-control {
  width: 50%;
  margin: auto;
}

.row {
  padding: 0;
}

.col-3 {
  padding: 0;
}

.w-20 {
  -webkit-box-flex: 0;
  flex: 0 0 20%;
  max-width: 20%; 
}